Django>=3.0,<4.0  # Django version constraint
asgiref==3.8.1
attrs==21.2.0
Automat==20.2.0
Babel==2.8.0
bcrypt==3.2.0
blinker==1.4
certifi==2020.6.20
chardet==4.0.0
click==8.0.3
colorama==0.4.4
psycopg2>=2.9.3
gunicorn>=20.1.0

# Additional recommended packages
django-environ  # Manage environment variables (Database URL, Secrets, etc.)
whitenoise  # Serve static files in production

